<div class="jobs">
    <div class="left__section">
        <div class="listing job__card">
            <div class="listing__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                    <path d="M19 5a3 3 0 00-3-3H5v20l7-6.29L19 22z"></path>
                </svg>
                <span>My Jobs</span>
            </div>
            <div class="listing__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                    <path d="M7 4a2 2 0 11-2-2 2 2 0 012 2zm2-1v2h12V3zm-4 7a2 2 0 102 2 2 2 0 00-2-2zm4 3h12v-2H9zm-4 5a2 2 0 102 2 2 2 0 00-2-2zm4 3h12v-2H9z"></path>
                  </svg>
                <span>Preferences</span>
            </div>
            <div class="listing__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                    <path d="M21 4L10 20l-6-6 1.41-1.41 4.3 4.3L18.57 4z"></path>
                  </svg>
                <span>Demonstrate skills</span>
            </div>
            <div class="listing__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                    <path d="M3 3v15a3 3 0 003 3h9v-6h6V3zm9 8H6v-1h6zm6-3H6V7h12zm-2 8h5l-5 5z"></path>
                  </svg>
                <span>Interview prep</span>
            </div>
            <div class="listing__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                    <path d="M15.5 2H4v20h16V6.5zM6 20V4h8v4h4v12z"></path>
                  </svg>
                <span>Resume Builder</span>
            </div>
            <div class="listing__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                    <path d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm-9 12V8l6 4z"></path>
                  </svg>
                <span>Job seeker guidance</span>
            </div>
            <div class="listing__item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                    <path d="M9.18 2l-4.3 2.52L6.22 8l-.52.91-3.7.55v5l3.64.54.54.93-1.34 3.53L9.14 22l2.29-2.9h1.09l2.3 2.9 4.32-2.52L17.79 16l.53-.93 3.68-.53v-5L18.32 9l-.51-.9 1.36-3.51L14.86 2l-2.33 3h-1zM12 9a3 3 0 11-3 3 3 3 0 013-3z"></path>
                  </svg>
                <span>Application settings</span>
            </div>
        </div>
        <button class="post__job">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h357l-80 80H200v560h560v-278l80-80v358q0 33-23.5 56.5T760-120H200Zm280-360ZM360-360v-170l367-367q12-12 27-18t30-6q16 0 30.5 6t26.5 18l56 57q11 12 17 26.5t6 29.5q0 15-5.5 29.5T897-728L530-360H360Zm481-424-56-56 56 56ZM440-440h56l232-232-28-28-29-28-231 231v57Zm260-260-29-28 29 28 28 28-28-28Z"/></svg>
            <span>Post a free job</span>
        </button>
    </div>
    <div class="recent__searches job__card">
        <div class="header">
            <h4>Recent job searches</h4>
            <span>Clear</span>
        </div>
        <div class="job__search">
            <div class="title"><span>stage pfa</span> <span class="gray__color"> · 93 new</span></div>
            <div class="content gray__color">Alert On · Morocco</div>
        </div>
        <div class="job__search">
            <div class="title"><span>Intern IT</span> <span class="gray__color"> · 40 new</span></div>
            <div class="content gray__color">Alert On · Morocco · Remote · Hybrid</div>
        </div>
        <div class="job__search">
            <div class="title"><span>Software Engineer</span> <span class="gray__color"> · 40 new</span></div>
            <div class="content gray__color">Alert On · Morocco</div>
        </div>
        <button class="show__more">
            <span>Show more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                <path d="M1 5l7 4.61L15 5v2.39L8 12 1 7.39z"></path>
            </svg>
        </button>
    </div>
    <div class="jobs__sections">
        <div class="jobs__section job__card">
            <h4>Recommended for you</h4>
            <p>Based on your profile and search history</p>
            <div class="jobs__cards__">
                <div class="job__card__">
                    <div class="pic">
                        <img src="https://media.licdn.com/dms/image/C4D0BAQG7WvDXWMmeOg/company-logo_100_100/0/1636015884495/axlab_sarl_logo?e=1707955200&v=beta&t=23IfSeYj0wvsbx6FuyD5vT1e7zFeMvD8TehMT4aBoHE" alt="">
                    </div>
                    <div class="parags">
                        <h4>Senior React Frontend Engineer</h4>
                        <div class="company__name">axlab</div>
                        <p class="location">Casablanca Metropolitan Area(On Site)</p>
                        <div class="reason">
                            <div class="image__wrapper">
                                <img width="24" src="https://media.licdn.com/dms/image/D4E03AQE3d2b7tCzG2g/profile-displayphoto-shrink_100_100/0/1676728695506?e=1703721600&amp;v=beta&amp;t=8xYHRzce7eQXHyPO3kYNltzxzuhF0rrc-wm02lrxQGE" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                            </div>
                            <p>Your profile matches this job</p>
                        </div>
                        <div class="viewed">
                            <span class="view">Viewed ·</span>
                            <img src="https://static.licdn.com/aero-v1/sc/h/cukxdu7s8ldmqz13xdao5xe75" alt="">
                            <span>Easy Apply</span>
                        </div>
                    </div>
                    <div class="close__by__ignore">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                            <path d="M13.42 12L20 18.58 18.58 20 12 13.42 5.42 20 4 18.58 10.58 12 4 5.42 5.42 4 12 10.58 18.58 4 20 5.42z"></path>
                        </svg>
                    </div>
                </div>
                <div class="job__card__">
                    <div class="pic">
                        <img src="https://media.licdn.com/dms/image/C4D0BAQHpek-qjHTr0w/company-logo_100_100/0/1630575175017?e=1707955200&v=beta&t=-XT5L9t7AkThAsRfwtnfCfeKkR-7c2UKMST5p0HnnkE" alt="">
                    </div>
                    <div class="parags">
                        <h4>Senior Frontend Engineer</h4>
                        <div class="company__name">spotbusiness</div>
                        <p class="location">Casablanca Metropolitan Area(On Site)</p>
                        <div class="reason">
                            <svg class="image__wrapper" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                <path d="M12 20a8 8 0 010-16 7.91 7.91 0 014.9 1.69l-1.43 1.42a6 6 0 101.42 1.42l3.82-3.82a1 1 0 000-1.41A1 1 0 0020 3a1 1 0 00-.7.29l-1 1A10 10 0 1022 12h-2a8 8 0 01-8 8zm5-8a5 5 0 11-5-5 4.93 4.93 0 012.76.82l-2.24 2.24A2.24 2.24 0 0012 10a2 2 0 102 2 2.24 2.24 0 00-.07-.51l2.24-2.24A5 5 0 0117 12z"></path>
                            </svg>
                            <p>Actively recruiting</p>
                        </div>
                        <div class="viewed">
                            <span class="view">Promoted · 6 days ago ·</span>
                            <img src="https://static.licdn.com/aero-v1/sc/h/cukxdu7s8ldmqz13xdao5xe75" alt="">
                            <span>Easy Apply</span>
                        </div>
                    </div>
                    <div class="close__by__ignore">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                            <path d="M13.42 12L20 18.58 18.58 20 12 13.42 5.42 20 4 18.58 10.58 12 4 5.42 5.42 4 12 10.58 18.58 4 20 5.42z"></path>
                        </svg>
                    </div>
                </div>
                <button class="show__all"> 
                    <span>Show all</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg>
                </button>
            </div>
        </div>
        <div class="jobs__section job__card">
            <h4>Similar to a job you applied to 3 days ago</h4>
            <p>Stagiaire PFE "Ingénieur qualité/Ingénieure qualité" at ALTEN</p>
            <div class="jobs__cards__">
                <div class="job__card__">
                    <div class="pic">
                        <img src="https://media.licdn.com/dms/image/D4E0BAQGVpcKfk7AFWQ/company-logo_100_100/0/1699016835382/te_connectivity_logo?e=1707955200&v=beta&t=GVNlXX0kr3i4Y_ic8cLQmNH-V_tq_WGiC505ZYtcnGQ" alt="">
                    </div>
                    <div class="parags">
                        <h4>Simulation Engineer</h4>
                        <div class="company__name">TE Connectivity</div>
                        <p class="location">Casablanca Metropolitan Area(On Site)</p>
                        <div class="reason">
                            <div class="image__wrapper">
                                <img width="24" src="https://media.licdn.com/dms/image/D4E03AQE3d2b7tCzG2g/profile-displayphoto-shrink_100_100/0/1676728695506?e=1703721600&amp;v=beta&amp;t=8xYHRzce7eQXHyPO3kYNltzxzuhF0rrc-wm02lrxQGE" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                            </div>
                            <p>Your profile matches this job</p>
                        </div>
                        <div class="viewed">
                            <span class="view">Viewed ·</span>
                            <img src="https://static.licdn.com/aero-v1/sc/h/cukxdu7s8ldmqz13xdao5xe75" alt="">
                            <span>Easy Apply</span>
                        </div>
                    </div>
                    <div class="close__by__ignore">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                            <path d="M13.42 12L20 18.58 18.58 20 12 13.42 5.42 20 4 18.58 10.58 12 4 5.42 5.42 4 12 10.58 18.58 4 20 5.42z"></path>
                        </svg>
                    </div>
                </div>
                <div class="job__card__">
                    <div class="pic">
                        <img src="https://media.licdn.com/dms/image/D4E0BAQHzHO07m6GHAA/company-logo_100_100/0/1688135008209/expleo_group_logo?e=1707955200&v=beta&t=jrODapQPorEfyh0OmSUXnZU4cykgNmvehBVDiYxzIJQ" alt="">
                    </div>
                    <div class="parags">
                        <h4>Senior Frontend Engineer</h4>
                        <div class="company__name">spotbusiness</div>
                        <p class="location">Casablanca Metropolitan Area(On Site)</p>
                        <div class="reason">
                            <svg class="image__wrapper" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                <path d="M12 20a8 8 0 010-16 7.91 7.91 0 014.9 1.69l-1.43 1.42a6 6 0 101.42 1.42l3.82-3.82a1 1 0 000-1.41A1 1 0 0020 3a1 1 0 00-.7.29l-1 1A10 10 0 1022 12h-2a8 8 0 01-8 8zm5-8a5 5 0 11-5-5 4.93 4.93 0 012.76.82l-2.24 2.24A2.24 2.24 0 0012 10a2 2 0 102 2 2.24 2.24 0 00-.07-.51l2.24-2.24A5 5 0 0117 12z"></path>
                            </svg>
                            <p>Actively recruiting</p>
                        </div>
                        <div class="viewed">
                            <span class="view">Promoted · 6 days ago ·</span>
                            <img src="https://static.licdn.com/aero-v1/sc/h/cukxdu7s8ldmqz13xdao5xe75" alt="">
                            <span>Easy Apply</span>
                        </div>
                    </div>
                    <div class="close__by__ignore">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                            <path d="M13.42 12L20 18.58 18.58 20 12 13.42 5.42 20 4 18.58 10.58 12 4 5.42 5.42 4 12 10.58 18.58 4 20 5.42z"></path>
                        </svg>
                    </div>
                </div>
                <button class="show__all"> 
                    <span>Show all</span>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg>
                </button>
            </div>
        </div>
    </div>
    <div class="right job__card">
        <h4>Job seeker guidance</h4>
        <p class="desc">Recommended based on your activity</p>
        <section>
            <a href="#">I want to improve my resume</a>
            <img src="https://www.linkedin.com/dms/prv/image/C4D0DAQFdDVwn9b17iA/learning-public-crop_60_100/0/1568251157263?m=AQJTsNtiznGCfwAAAYvJKtikf1VIRHWRLUJX-N84jWbWTWbXtZhD8EPWlg&e=1699973510&v=beta&t=E79oweY1PSwzNgZqj6dn0hXNgTAljmFTe55sxj283Ew" alt="">
        </section>
        <p>Explore our curated guide of expert-led courses, such as how to improve your resume and grow your network, to help you land your next opportunity.</p>
        <button class="show__more__">
            <span>Show more</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m600-200-57-56 184-184H80v-80h647L544-704l56-56 280 280-280 280Z"/></svg>
        </button>
    </div>
</div>
