.box-shadow{
    width: 100%;
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0px 0px 0px 1px rgb(140 140 140/.2) ,0px 4px 4px rgb(0 0 0/.3);
    border-radius:  0.5rem 0.5rem 0 0;
    max-width: 25vw;
    max-height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}