<div class="adds">
    <p>El Ouali, unlock your full potential with Linkedin premium</p>
    <div class="inner__adds">
        <div class="image__wrapper">
            <img width="24" src="https://media.licdn.com/dms/image/D5603AQGtjglSKlXXxg/profile-displayphoto-shrink_100_100/0/1701386957796?e=1706745600&v=beta&t=RGjuAH1ZiNT-LE8XLUGScFNItCOsTv99J0Z0rMUOkJw" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
        </div>
        <img class="linkedin__icon" src="https://media.licdn.com/dms/image/C560EAQGlaqaN2qg-xQ/rightRail-logo-shrink_200_200/0/1636732329458?e=1700071200&v=beta&t=9MKCE9YCIF5WN_wlXIe4jpV-MmAzDzjWfCs_89v9IH4" alt="">
    </div>
    <button class="try__for__free">Try for free!</button>
</div>
