<div class="adds">
    <p>El Ouali, unlock your full potential with Linkedin premium</p>
    <div class="inner__adds">
        <div class="image__wrapper">
            <img width="24" src="https://media.licdn.com/dms/image/D4E03AQE3d2b7tCzG2g/profile-displayphoto-shrink_100_100/0/1676728695506?e=1703721600&amp;v=beta&amp;t=8xYHRzce7eQXHyPO3kYNltzxzuhF0rrc-wm02lrxQGE" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
        </div>
        <img class="linkedin__icon" src="https://media.licdn.com/dms/image/C560EAQGlaqaN2qg-xQ/rightRail-logo-shrink_200_200/0/1636732329458?e=1700071200&v=beta&t=9MKCE9YCIF5WN_wlXIe4jpV-MmAzDzjWfCs_89v9IH4" alt="">
    </div>
    <button class="try__for__free">Try for free!</button>
</div>
