<section class="feed">
    <div class="left">
        <div class="feed__wrapper">
            <app-personal-info></app-personal-info>
        </div>
        <div class="feed__wrapper">
            <app-recents></app-recents>
        </div>
    </div>
    <div class="center">
        <div class="feed__wrapper">
            <app-new-post></app-new-post>
        </div>
        <div class="sort__by">
            <div class="line"></div>
            <p>Sort by:</p> 
            <strong>Top</strong>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="800px" height="800px" viewBox="0 0 24 24" fill="none">
                <path d="M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z" fill="#212121"/>
                </svg>
            </span>
        </div>
        <div class="feed__wrapper">
            <app-posts></app-posts>
        </div>
    </div>
    <div class="right">
        <div class="feed__wrapper">
            <app-suggestion></app-suggestion>
        </div>
        <div class="feed__wrapper">
            <app-adds></app-adds>
        </div>
    </div>
</section>
