.post{
    margin-bottom: 0.5rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    padding: 0.9rem;
    border-radius: 0.6rem;
    background-color: white;

}
.post__header{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-rows: 30% 30% 30%;
    gap: 0 0.6rem;
    font-size: medium;
    position: relative;
}

.post__header > .image__wrapper{
    grid-area: 1/1/4/2;
    width: 3rem;
    height: 3rem;
}

.post__header > .name{
    grid-area: 1/2/2/3;
    font-weight: bold;
}

.post__header > .job{
    grid-area: 2/2/3/3;
    color: #00000099;
    font-size: small;
}

.post__header > .timing{
    grid-area: 3/2/4/3;
    display: flex;
    justify-items: center;
    color: #00000099;
    gap: 0.2rem;
    font-size: small;
}

.dot{
    font-size: larger;
    font-weight: bolder;
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background-color: #00000099;
    margin-top: auto;
    margin-bottom: auto;
}

.post__header > .dots{
    grid-area: 1/3/2/4;
    margin: auto;
}

.post__header > .close{
    grid-area: 1/4/2/5;
}

.close svg , .dots svg{
    fill: #00000099;
}

.post > img{
    width: 100%;
    height: auto;
}

.reactions__stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #f3f2f1;
    padding-bottom: 0.5rem;
}

.reactions__stats .icons{
    position: relative;
}

.reactions__stats .stats__nums{
    display: flex;
    width: max-content;
    gap: 0.3rem;
    color: #00000099;
    font-size: small;
}

.icons{
    display: flex;
    width: max-content;
    gap: 0rem;
}

.icons > p{
    color: #00000099;
    font-size: small;
}

.reactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.reactions > .reaction{
    display: flex;
    width: max-content;
    gap: 0.3rem;
    align-items: center;
    font-weight: 800;
    font-size: medium;
    cursor: pointer;
}

.reaction img{
    height: 2rem;
    width: auto;
}

.more__reacts {
    display: none;
}

/* When hovering over the "reaction" div, show the "more__reacts" element */
.reaction:hover + .more__reacts {
    display: flex;
    position: absolute;
    inset: -120% auto auto auto;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    gap: 0.5rem;
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    padding: 0.5rem 1rem;
}

.more__reacts img{
    width: auto;
    height: 1.5rem;
    cursor: pointer;
}

.more__reacts:hover{
    display: flex;
    position: absolute;
    inset: -120% auto auto auto;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    gap: 0.5rem;
    background-color: white;
    border-radius: 0.6rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    padding: 0.5rem 1rem;
}

@keyframes emoji__hover__animation {
    0% {
        transform: scale(1);
        transform: translateY(0);
    }
    
    100% {
        transform: scale(2);
        transform: translateY(-0.2rem);
    }
}

.more__reacts img:hover{
    animation: emoji__hover__animation 100ms ease-out forwards;
}

.close__dots{
    cursor: pointer;
}


.post__actions{
    position: absolute;
    inset: 2rem 2rem auto auto;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 0.6rem;
    padding: 0.7rem;
}