<section class="post">
    <div class="post__header">
        <div class="image__wrapper">
            <img width="24" src="https://media.licdn.com/dms/image/D4E03AQE3d2b7tCzG2g/profile-displayphoto-shrink_100_100/0/1676728695506?e=1703721600&amp;v=beta&amp;t=8xYHRzce7eQXHyPO3kYNltzxzuhF0rrc-wm02lrxQGE" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
        </div>
        <div class="name">John Doe</div>
        <div class="job">DevOps Engineer</div>
        <div class="timing">
            <span>1h</span><span class="dot"></span><span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-160q18 0 34.5-2t33.5-6l-48-72H360v-40q0-33 23.5-56.5T440-360h80v-120h-80q-17 0-28.5-11.5T400-520v-80h-18q-26 0-44-17.5T320-661q0-9 2.5-18t7.5-17l62-91q-101 29-166.5 113T160-480h40v-40q0-17 11.5-28.5T240-560h80q17 0 28.5 11.5T360-520v40q0 17-11.5 28.5T320-440v40q0 33-23.5 56.5T240-320h-37q42 72 115 116t162 44Zm304-222q8-23 12-47.5t4-50.5q0-112-68-197.5T560-790v110q33 0 56.5 23.5T640-600v80q19 0 34 4.5t29 18.5l81 115ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg></span>
        </div>
        <div class="dots close__dots">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/></svg>
        </div>
        <div class="close close__dots">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
        </div>
        <div class="post__actions">
            Actions
        </div>
    </div>
    <p>Every challenge is just a step forward. (Link to order mug 👉 https://lnkd.in/e5qV8kMD)
        Lorem ⌚️ 📱 📲 💻 ⌨️ 🖥 🖨 🖱 🖲 🕹 🗜 💽 💾 💿 📀 📼 📷 📸 📹 🎥 📽 🎞 📞 ☎️ 📟 📠 📺 📻 🎙 🎚 🎛 ⏱ ⏲ ⏰ 🕰 ⌛️ ⏳ 📡 🔋 🔌 💡 🔦 🕯 🗑 🛢 💸 💵 💴 💶 💷 💰 💳 💎 ⚖️ 🔧 🔨 ⚒ 🛠 ⛏ 🔩 ⚙️ ⛓ 🔫 💣 🔪 🗡 ⚔️ 🛡 🚬 ⚰️ ⚱️ 🏺 🔮 📿 💈 ⚗️ 🔭 🔬 🕳 💊 💉 🌡 🚽 🚰 🚿 🛁 🛀 🛀🏻 🛀🏼 🛀🏽 🛀🏾 🛀🏿 🛎 🔑 🗝 🚪 🛋 🛏 🛌 🖼 🛍 🛒 🎁 🎈 🎏 🎀 🎊 🎉 🎎 🏮 🎐 ✉️ 📩 📨 📧 💌 📥 📤 📦 🏷 📪 📫 📬 📭 📮 📯 📜 📃 📄 📑 📊 📈 📉 🗒 🗓 📆 📅 📇 🗃 🗳 🗄 📋 📁 📂 🗂 🗞 📰 📓 📔 📒 📕 📗 📘 📙 📚 📖 🔖 🔗 📎 🖇 📐 📏 📌 📍 ✂️ 🖊 🖋 ✒️ 🖌 🖍 📝 ✏️ 🔍 🔎 🔏 🔐 🔒 🔓oloremque natus officia temporibus sint, fuga sunt molestias debitis blanditiis. Harum, nemo voluptate totam nobis voluptatibus fugiat quas maxime et natus, eos mollitia quia. Soluta cupiditate est recusandae?
    Aliquid, exercitationem repellendus minima voluptatem reprehenderit deleniti tenetur id tempore autem soluta maiores aliquam, nesciunt perferendis distinctio inventore ullam pariatur! Qui porro in fuga dolore perspiciatis aut? Rem, iusto qui.</p>
    <img src="https://media.licdn.com/dms/image/D4E10AQHblfuKqP_qdA/image-shrink_800/0/1698580811354?e=1699214400&v=beta&t=AyoLXkACScaTWFgCj7Da68GHL2WByJsSAi68lbJXkSE" alt="Post Doc">
    <div class="reactions__stats">
        <div class="icons">
            <div class="icons__core">
                <img class="clap reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--2 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-PRAISE data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/b1dl5jk88euc7e9ri50xy5qo8" alt="celebrate" data-test-reactions-icon-type="PRAISE" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(-25%);" class="heart reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--1 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-EMPATHY data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/cpho5fghnpme8epox8rdcds22" alt="love" data-test-reactions-icon-type="EMPATHY" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(-50%);" class="like reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--0 reactions-icon__consumption--small data-test-reactions-icon-type-LIKE data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/8ekq8gho1ruaf8i7f86vd1ftt" alt="like" data-test-reactions-icon-type="LIKE" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(-80%);" class="bulb reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--1 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-INTEREST data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/lhxmwiwoag9qepsh4nc28zus" alt="insightful" data-test-reactions-icon-type="INTEREST" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(-105%);" class="heart__on__hand reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--2 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-APPRECIATION data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/3wqhxqtk2l554o70ur3kessf1" alt="support" data-test-reactions-icon-type="APPRECIATION" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(-130%);" class="laugh reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--1 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-ENTERTAINMENT data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/41j9d0423ck1snej32brbuuwg" alt="funny" data-test-reactions-icon-type="ENTERTAINMENT" data-test-reactions-icon-theme="light">
            </div>
            <p>AFA and 6 others</p>
        </div>
        <div class="stats__nums">
            <span>14 comments</span>
            <span class="dot"></span>
            <span>99 reposts</span>
        </div>
    </div>
    <div class="reactions">
        <div class="reaction">
            <img src="../../../../../assets/reactions/like.png" alt="">
            <p>Like</p>
        </div>
        <div class="more__reacts">
            <img src="https://www.userflow.nl/images/linkedin-funny-emoticon-250.png" alt="Laugh">
            <img src="https://www.userflow.nl/images/Linkedin-Like-Icon-Thumbup250.png" alt="Like">
            <img src="https://www.userflow.nl/images/Linkedin-Celebrate-Icon-ClappingHands250.png" alt="Clap">
            <img src="https://www.userflow.nl/images/Linkedin-Support-Icon-HeartinHand250.png" alt="hand__heart">
            <img src="https://www.userflow.nl/images/Linkedin-Love-Icon-Heart250.png" alt="Heart">
            <img src="https://www.userflow.nl/images/Linkedin-Insightful-Icon-Lamp250.png" alt="Light">
            <img src="https://www.userflow.nl/images/Linkedin-Curious-Icon-PurpleSmiley250.png" alt="Think">
        </div>
        <div class="reaction" (click)="toggleComments()">
            <img src="../../../../../assets/reactions/comment.png" alt="">
            <p>Comment</p>
        </div>
        <div class="reaction">
            <img src="../../../../../assets/reactions/repost.png" alt="">
            <p>Repost</p>
        </div>
        <div class="reaction">
            <img src="../../../../../assets/reactions/send.png" alt="">
            <p>Send</p>
        </div>
    </div>
    <div class="be__first__to__react"></div>
    @if (isCommentOpen) {
        <div class="comments">
            <div class="comments__main__input">
                <div class="image__wrapper">
                    <img width="24" src="https://media.licdn.com/dms/image/D4E03AQE3d2b7tCzG2g/profile-displayphoto-shrink_100_100/0/1676728695506?e=1703721600&amp;v=beta&amp;t=8xYHRzce7eQXHyPO3kYNltzxzuhF0rrc-wm02lrxQGE" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                </div>
                <div class="text__input">
                    <input type="text" placeholder="Add a comment...">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                        <path d="M8 10.5A1.5 1.5 0 119.5 12 1.5 1.5 0 018 10.5zm6.5 1.5a1.5 1.5 0 10-1.5-1.5 1.5 1.5 0 001.5 1.5zm7.5 0A10 10 0 1112 2a10 10 0 0110 10zm-2 0a8 8 0 10-8 8 8 8 0 008-8zm-8 4a6 6 0 01-4.24-1.76l-.71.76a7 7 0 009.89 0l-.71-.71A6 6 0 0112 16z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                        <path d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm1 13a1 1 0 01-.29.71L16 14l-2 2-6-6-4 4V7a1 1 0 011-1h14a1 1 0 011 1zm-2-7a2 2 0 11-2-2 2 2 0 012 2z"></path>
                    </svg>
                </div>
            </div>
            <div class="comments__list">
                @for (comment of commnets; track $index) {
                    <app-comment [comment]="comment"></app-comment>
                }
            </div>
        </div>
    }
</section>
