<section class="post">
    <div class="post__header">
        <div class="image__wrapper">
            <img width="24" src="https://media.licdn.com/dms/image/D5603AQGtjglSKlXXxg/profile-displayphoto-shrink_100_100/0/1701386957796?e=1706745600&v=beta&t=RGjuAH1ZiNT-LE8XLUGScFNItCOsTv99J0Z0rMUOkJw" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
        </div>
        <div class="name">John Doe</div>
        <div class="job">DevOps Engineer</div>
        <div class="timing">
            <span>1h</span><span class="dot"></span><span><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-160q18 0 34.5-2t33.5-6l-48-72H360v-40q0-33 23.5-56.5T440-360h80v-120h-80q-17 0-28.5-11.5T400-520v-80h-18q-26 0-44-17.5T320-661q0-9 2.5-18t7.5-17l62-91q-101 29-166.5 113T160-480h40v-40q0-17 11.5-28.5T240-560h80q17 0 28.5 11.5T360-520v40q0 17-11.5 28.5T320-440v40q0 33-23.5 56.5T240-320h-37q42 72 115 116t162 44Zm304-222q8-23 12-47.5t4-50.5q0-112-68-197.5T560-790v110q33 0 56.5 23.5T640-600v80q19 0 34 4.5t29 18.5l81 115ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Z"/></svg></span>
        </div>
        <div class="dots close__dots">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"/></svg>
        </div>
        <div class="close close__dots">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
        </div>
        <!-- <div class="post__actions">
            Actions
        </div> -->
    </div>
    <p>Every challenge is just a step forward. (Link to order mug 👉 https://lnkd.in/e5qV8kMD)
        Lorem ⌚️ 📱 📲 💻 ⌨️ 🖥 🖨 🖱 🖲 🕹 🗜 💽 💾 💿 📀 📼 📷 📸 📹 🎥 📽 🎞 📞 ☎️ 📟 📠 📺 📻 🎙 🎚 🎛 ⏱ ⏲ ⏰ 🕰 ⌛️ ⏳ 📡 🔋 🔌 💡 🔦 🕯 🗑 🛢 💸 💵 💴 💶 💷 💰 💳 💎 ⚖️ 🔧 🔨 ⚒ 🛠 ⛏ 🔩 ⚙️ ⛓ 🔫 💣 🔪 🗡 ⚔️ 🛡 🚬 ⚰️ ⚱️ 🏺 🔮 📿 💈 ⚗️ 🔭 🔬 🕳 💊 💉 🌡 🚽 🚰 🚿 🛁 🛀 🛀🏻 🛀🏼 🛀🏽 🛀🏾 🛀🏿 🛎 🔑 🗝 🚪 🛋 🛏 🛌 🖼 🛍 🛒 🎁 🎈 🎏 🎀 🎊 🎉 🎎 🏮 🎐 ✉️ 📩 📨 📧 💌 📥 📤 📦 🏷 📪 📫 📬 📭 📮 📯 📜 📃 📄 📑 📊 📈 📉 🗒 🗓 📆 📅 📇 🗃 🗳 🗄 📋 📁 📂 🗂 🗞 📰 📓 📔 📒 📕 📗 📘 📙 📚 📖 🔖 🔗 📎 🖇 📐 📏 📌 📍 ✂️ 🖊 🖋 ✒️ 🖌 🖍 📝 ✏️ 🔍 🔎 🔏 🔐 🔒 🔓oloremque natus officia temporibus sint, fuga sunt molestias debitis blanditiis. Harum, nemo voluptate totam nobis voluptatibus fugiat quas maxime et natus, eos mollitia quia. Soluta cupiditate est recusandae?
    Aliquid, exercitationem repellendus minima voluptatem reprehenderit deleniti tenetur id tempore autem soluta maiores aliquam, nesciunt perferendis distinctio inventore ullam pariatur! Qui porro in fuga dolore perspiciatis aut? Rem, iusto qui.</p>
    <div class="images__canvas">
        <img alt="Post poster" src="https://media.licdn.com/dms/image/sync/D4D10AQHTlxaHgynaCw/image-shrink_800/0/1701362292432/DPR-BMCI-KV-1200x628png?e=1702026000&v=beta&t=ZpKs85hFN3cswZdpyxGucLubC8sLaGY9YEonI-7HbnA">
    </div>
    <div class="reactions__stats">
        <div class="icons">
            <div class="icons__core">
                <img class="clap_ reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--2 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-PRAISE data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/b1dl5jk88euc7e9ri50xy5qo8" alt="celebrate" data-test-reactions-icon-type="PRAISE" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(-20%);" class="heart_ reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--1 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-EMPATHY data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/cpho5fghnpme8epox8rdcds22" alt="love" data-test-reactions-icon-type="EMPATHY" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(calc(-20% - 0.4rem));" class="like_ reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--0 reactions-icon__consumption--small data-test-reactions-icon-type-LIKE data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/8ekq8gho1ruaf8i7f86vd1ftt" alt="like" data-test-reactions-icon-type="LIKE" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(calc(-20% - 0.8rem));" class="bulb_ reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--1 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-INTEREST data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/lhxmwiwoag9qepsh4nc28zus" alt="insightful" data-test-reactions-icon-type="INTEREST" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(calc(-20% - 1.2rem));" class="heart__on__hand_ reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--2 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-APPRECIATION data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/3wqhxqtk2l554o70ur3kessf1" alt="support" data-test-reactions-icon-type="APPRECIATION" data-test-reactions-icon-theme="light">
                <img style="transform: translateX(calc(-20% - 1.6rem));" class="laugh_ reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--1 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-ENTERTAINMENT data-test-reactions-icon-theme-light" src="https://static.licdn.com/aero-v1/sc/h/41j9d0423ck1snej32brbuuwg" alt="funny" data-test-reactions-icon-type="ENTERTAINMENT" data-test-reactions-icon-theme="light">
            </div>
            <p>AFA and 6 others</p>
        </div>
        <div class="stats__nums">
            <span>14 comments</span>
            <span class="dot"></span>
            <span>99 reposts</span>
        </div>
    </div>
    <div class="reactions">
        <div class="reaction">
            <img src="../../../../../assets/reactions/like.png" alt="">
            <p>Like</p>
        </div>
        <div class="more__reacts">
            <img src="https://www.userflow.nl/images/linkedin-funny-emoticon-250.png" alt="Laugh">
            <img src="https://www.userflow.nl/images/Linkedin-Like-Icon-Thumbup250.png" alt="Like">
            <img src="https://www.userflow.nl/images/Linkedin-Celebrate-Icon-ClappingHands250.png" alt="Clap">
            <img src="https://www.userflow.nl/images/Linkedin-Support-Icon-HeartinHand250.png" alt="hand__heart">
            <img src="https://www.userflow.nl/images/Linkedin-Love-Icon-Heart250.png" alt="Heart">
            <img src="https://www.userflow.nl/images/Linkedin-Insightful-Icon-Lamp250.png" alt="Light">
            <img src="https://www.userflow.nl/images/Linkedin-Curious-Icon-PurpleSmiley250.png" alt="Think">
        </div>
        <div class="reaction" (click)="toggleComments()">
            <img src="../../../../../assets/reactions/comment.png" alt="">
            <p>Comment</p>
        </div>
        <div class="reaction">
            <img src="../../../../../assets/reactions/repost.png" alt="">
            <p>Repost</p>
        </div>
        <div class="reaction">
            <img src="../../../../../assets/reactions/send.png" alt="">
            <p>Send</p>
        </div>
    </div>
    <div class="be__first__to__react"></div>
    @if (isCommentOpen()) {
        <div class="comments">
            <div class="comments__main__input">
                <div class="image__wrapper">
                    <img width="24" src="https://media.licdn.com/dms/image/D5603AQGtjglSKlXXxg/profile-displayphoto-shrink_100_100/0/1701386957796?e=1706745600&v=beta&t=RGjuAH1ZiNT-LE8XLUGScFNItCOsTv99J0Z0rMUOkJw" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                </div>
                @if (isEmojisOn()) { 
                    <div class="emojis">
                        <div class="emojis__wrapper">
                            <div class="emojis__header">
                                <div class="emojis__input__wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                                    <input type="text" placeholder="Search">
                                </div>
                                <span class="hand__skintone">✋</span>
                                <svg (click)="toggleEmojis()" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                            </div>
                            <div class="emojis__categories">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M8 10.5A1.5 1.5 0 119.5 12 1.5 1.5 0 018 10.5zm6.5 1.5a1.5 1.5 0 10-1.5-1.5 1.5 1.5 0 001.5 1.5zm7.5 0A10 10 0 1112 2a10 10 0 0110 10zm-2 0a8 8 0 10-8 8 8 8 0 008-8zm-8 4a6 6 0 01-4.24-1.76l-.71.76a7 7 0 009.89 0l-.71-.71A6 6 0 0112 16z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M14 16zm6.48-5.12a6 6 0 01.21 4.34 5.54 5.54 0 01-3.93 3.61A4.87 4.87 0 0112.1 22h-.2a4.88 4.88 0 01-4.66-3.18 5.54 5.54 0 01-3.93-3.61 6 6 0 01.21-4.34l.6-1.36A4 4 0 117.78 2.4a3.93 3.93 0 011.71 1.69 5.55 5.55 0 011-.09h3.06a5.55 5.55 0 011 .09 4 4 0 115.37 5.42zM7.56 4.77A2 2 0 006 4a2 2 0 00-1.07 3.69L5 7.56a6 6 0 012.56-2.79zM9 12.25A1.25 1.25 0 107.75 11 1.25 1.25 0 009 12.25zM15 17l-.36-2A2.58 2.58 0 0012 13a2.59 2.59 0 00-2.6 2L9 17a2.36 2.36 0 00.58 2 3 3 0 002.32 1h.2a3 3 0 002.32-1 2.36 2.36 0 00.58-2zm1.29-6A1.25 1.25 0 1015 12.25 1.25 1.25 0 0016.29 11zM20 6a2 2 0 00-2-2 2 2 0 00-1.56.77A6 6 0 0119 7.56l.06.13A2 2 0 0020 6zM10 16zm3-1h-2a1 1 0 00-1 1 2 2 0 004 0 1 1 0 00-1-1z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M21 11V9a6 6 0 00-6-6H9a6 6 0 00-6 6v2a1 1 0 00-1 1v3a1 1 0 001 1v2a3 3 0 003 3h12a3 3 0 003-3v-2a1 1 0 001-1v-3a1 1 0 00-1-1zm-2 7a1 1 0 01-1 1H6a1 1 0 01-1-1v-2h14zM5.41 12h5.18l-1.18 1.17a2 2 0 01-2.82 0zM19 11H5V9a4 4 0 014-4h6a4 4 0 014 4zM9 9a1 1 0 11-1-1 1 1 0 011 1zm4-2a1 1 0 11-1-1 1 1 0 011 1zm4 2a1 1 0 11-1-1 1 1 0 011 1z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M12 2a10 10 0 0110 10A10.47 10.47 0 0112 2zM2 12a10 10 0 0010 10A10.47 10.47 0 002 12zm9-10a10 10 0 00-9 9 11.47 11.47 0 0111 11 10 10 0 009-9A11.48 11.48 0 0111 2.05z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M22.5 9h-1.36l-1.36-3.18A3 3 0 0017 4H7a3 3 0 00-2.78 1.82L2.86 9H1.5a.5.5 0 00-.5.5v1a.5.5 0 00.5.5H2v6a1 1 0 001 1v2a1 1 0 001 1h1a1 1 0 001-1v-2h12v2a1 1 0 001 1h1a1 1 0 001-1v-2a1 1 0 001-1v-6h.5a.5.5 0 00.5-.5v-1a.5.5 0 00-.5-.5zM7 6h10a1 1 0 01.92.61L19.4 10H4.6l1.46-3.39A1 1 0 017 6zm-1.5 9A1.5 1.5 0 117 13.5 1.5 1.5 0 015.5 15zm13 0a1.5 1.5 0 111.5-1.5 1.5 1.5 0 01-1.5 1.5z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M10 20h4v.1a1.9 1.9 0 01-1.9 1.9h-.2a1.9 1.9 0 01-1.9-1.9zm4.68-14.47A1 1 0 0016 5l.76-1.85a1 1 0 00-.54-1.3 1 1 0 00-1.31.54l-.76 1.85a1 1 0 00.53 1.29zm5.09 4.33l1.85-.76a1 1 0 00.54-1.31 1 1 0 00-1.3-.54L19 8a1 1 0 00-.54 1.31 1 1 0 001.3.55zM4.23 14.14l-1.85.76a1 1 0 00-.54 1.31 1 1 0 001.3.54L5 16a1 1 0 00.54-1.31 1 1 0 00-1.3-.55zm17.39.76l-1.85-.76A1 1 0 0019 16l1.85.76a1 1 0 00.78-1.86zM5 8l-1.86-.75a1 1 0 00-1.3.54 1 1 0 00.54 1.31l1.85.76A1 1 0 005 8zm3-3a1 1 0 001.31.54 1 1 0 00.54-1.3L9.1 2.38a1 1 0 00-1.31-.54 1 1 0 00-.54 1.3zm9 6.91V12a5.48 5.48 0 01-1.61 3.88l-.07.08a3.94 3.94 0 00-1.08 1.94L14 19h-4l-.24-1.08A4 4 0 008.68 16l-.07-.07A5.51 5.51 0 017 12v-.1A4.9 4.9 0 0111.9 7h.2a4.9 4.9 0 014.9 4.9zm-2 0A2.9 2.9 0 0012.11 9h-.21A2.9 2.9 0 009 11.9v.1a3.47 3.47 0 001 2.47l.08.08a5.92 5.92 0 011.5 2.45h.84a6 6 0 011.48-2.44l.08-.07A3.48 3.48 0 0015 12z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M21 4.41L4.41 21 3 19.59 19.59 3zM3 7a4 4 0 114 4 4 4 0 01-4-4zm2 0a2 2 0 102-2 2 2 0 00-2 2zm16 10a4 4 0 11-4-4 4 4 0 014 4zm-2 0a2 2 0 10-2 2 2 2 0 002-2z"></path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                                    <path d="M17.9 4.38a5.82 5.82 0 01-1.9.31 6.1 6.1 0 01-1.9-.31l-3.2-1.07A6.41 6.41 0 009 3a5.57 5.57 0 00-1.9.31L6 3.67V2H4v20h2v-8l1.1-.37a6.41 6.41 0 011.9-.32 5.82 5.82 0 011.9.31l3.2 1.07a6 6 0 003.8 0L20 14V3.68z"></path>
                                </svg>
                            </div>
                            <div class="emojis__list">
                                <h3 class="category__title">People</h3>
                                <div class="emos">@for (item of removeWhiteSpaces(emojisIcons().emojis); track $index) { <span class="emoji__icon">{{item}}</span> }</div>
                                
                                <h3 class="category__title">Nature</h3>
                                <div class="emos">@for (item of removeWhiteSpaces(emojisIcons().nature); track $index) { <span class="emoji__icon">{{item}}</span> }</div>
                                
                                <h3 class="category__title">Food & Drink</h3>
                                <div class="emos">@for (item of removeWhiteSpaces(emojisIcons().foodDrinks); track $index) { <span class="emoji__icon">{{item}}</span> }</div>
                                
                                <h3 class="category__title">Activities</h3>
                                <div class="emos">@for (item of removeWhiteSpaces(emojisIcons().activities); track $index) { <span class="emoji__icon">{{item}}</span> }</div>
                                
                                <h3 class="category__title">Travel & Places</h3>
                                <div class="emos">@for (item of removeWhiteSpaces(emojisIcons().travelPlaces); track $index) { <span class="emoji__icon">{{item}}</span> }</div>
                                
                                <h3 class="category__title">Objects</h3>
                                <div class="emos">@for (item of removeWhiteSpaces(emojisIcons().objects); track $index) { <span class="emoji__icon">{{item}}</span> }</div>
                                
                                <h3 class="category__title">Symbols</h3>
                                <div class="emos">@for (item of removeWhiteSpaces(emojisIcons().symbols); track $index) { <span class="emoji__icon">{{item}}</span> }</div>
                                
                                <h3 class="category__title">Flags</h3>
                                <div class="emos">@for (item of removeWhiteSpaces(emojisIcons().flags); track $index) { <span class="emoji__icon">{{item}}</span> }</div>
                            </div>
                        </div>
                    </div> 
                } 
                <form class="text__input">
                    <input type="text" placeholder="Add a comment...">
                    <input type="file" class="attachment__doc" accept="image/*">
                    <svg (click)="toggleEmojis()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                        <path d="M8 10.5A1.5 1.5 0 119.5 12 1.5 1.5 0 018 10.5zm6.5 1.5a1.5 1.5 0 10-1.5-1.5 1.5 1.5 0 001.5 1.5zm7.5 0A10 10 0 1112 2a10 10 0 0110 10zm-2 0a8 8 0 10-8 8 8 8 0 008-8zm-8 4a6 6 0 01-4.24-1.76l-.71.76a7 7 0 009.89 0l-.71-.71A6 6 0 0112 16z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                        <path d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm1 13a1 1 0 01-.29.71L16 14l-2 2-6-6-4 4V7a1 1 0 011-1h14a1 1 0 011 1zm-2-7a2 2 0 11-2-2 2 2 0 012 2z"></path>
                    </svg>
                </form>
            </div>
            <div class="comments__list">
                @for (comment of commnets(); track $index) {
                    <app-comment [comment]="comment"></app-comment>
                }
            </div>
        </div>
    }
</section>
