<div class="personal__info">
    <div class="images">
        <img src="https://media.licdn.com/dms/image/D4E16AQFqnUNm0gGTqA/profile-displaybackgroundimage-shrink_350_1400/0/1694774793070?e=1704931200&v=beta&t=-Fsesypa_Yfy6QszWcHvGUKGbC1XF0v3tXmuNBo4H7I" alt="Profile Background Pic">
        <div class="images__wrapper">
            <div class="image__wrapper">
                <img width="24" src="https://media.licdn.com/dms/image/D4E03AQE3d2b7tCzG2g/profile-displayphoto-shrink_100_100/0/1676728695506?e=1703721600&amp;v=beta&amp;t=8xYHRzce7eQXHyPO3kYNltzxzuhF0rrc-wm02lrxQGE" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
            </div>
        </div>
    </div>
   <div class="inner__info">
        <h3>Mohammed El Ouali</h3>
        <p>Seeking PFE Internship In Web Development(Spring With React/Angular/Vuejs) | Software Engineering Student | Systems Design Enthusiast</p>
   </div>
   <div class="stats">
        <div class="stat">
            <span class="key">Profile viewers</span>
            <span class="value">135</span>
        </div>
        <div class="stat">
            <span class="key">Post impressions</span>
            <span class="value">335</span>
        </div>
   </div>
</div>