<div class="suggestions">
    <div class="suggestion__header">
        <h3>Add to your feed</h3>
        <img src="../../../../assets/shared/Screenshot from 2023-10-31 13-46-30.png" alt="">
    </div>
    <div class="suggestion">
        <div class="image__wrapper">
            <img width="24" src="https://media.licdn.com/dms/image/C4E0BAQGLKj3JHcof0w/company-logo_100_100/0/1589990867649?e=1706745600&v=beta&t=9k6PcipINf4vTvqxR0pIXQ7Q-ICHvWWn6gdzQ1lN-8s" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
        </div>
        <div class="side">
            <h4>freeCodeCamp</h4>
            <p>Company • E-Learning</p>
            <button><span class="plus">+</span><span class="follow">Follow</span></button>
        </div>
    </div>
    <div class="suggestion">
        <div class="image__wrapper">
            <img width="24" src="https://media.licdn.com/dms/image/C560BAQHTJOlDEd71QA/company-logo_100_100/0/1649264537982?e=1706745600&v=beta&t=95MXe5NgltqhDQMXjS99WAHhi1dk0BeM9TTegjF4xtc" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
        </div>
        <div class="side">
            <h4>freeCodeCamp</h4>
            <p>Company • E-Learning</p>
            <button><span class="plus">+</span><span class="follow">Follow</span></button>
        </div>
    </div>
    <div class="suggestion">
        <div class="image__wrapper">
            <img width="24" src="https://media.licdn.com/dms/image/D4D0BAQHKMvI4CPSFNA/company-logo_100_100/0/1687157256913?e=1706745600&v=beta&t=3s66JVzbDLZdCgOLJJSKHkvPQ7a7kHyNAqPE3JdmPpw" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
        </div>
        <div class="side">
            <h4>freeCodeCamp</h4>
            <p>Company • E-Learning</p>
            <button><span class="plus">+</span><span class="follow">Follow</span></button>
        </div>
    </div>
    <div class="suggestion">
        <div class="image__wrapper">
            <img width="24" src="https://media.licdn.com/dms/image/C4E0BAQGLKj3JHcof0w/company-logo_100_100/0/1589990867649?e=1706745600&v=beta&t=9k6PcipINf4vTvqxR0pIXQ7Q-ICHvWWn6gdzQ1lN-8s" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
        </div>
        <div class="side">
            <h4>freeCodeCamp</h4>
            <p>Company • E-Learning</p>
            <button><span class="plus">+</span><span class="follow">Follow</span></button>
        </div>
    </div>

    

    <a href="#">View all recommendations</a>
</div>
