<div class="profile">
    <div class="info">
        <div class="analytics">
            <div class="left__analytics">
                <h4>95 profile viewers</h4>
                <span>past 90 days</span>
            </div>
            <div class="right__analytics">
                <p>View all analytics</p>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/></svg>
            </div>
        </div>
        <div class="banner__wrapper">
            <img class="banner__image" src="https://media.licdn.com/dms/image/D4E16AQFqnUNm0gGTqA/profile-displaybackgroundimage-shrink_350_1400/0/1694774793070?e=1705536000&v=beta&t=c-Ca1DOtQFqqJqPMQNg_UJM3fW0BZ_nU9W0hLqHPBSk" alt="">
            <div class="image__banner__wrapper">
                <div class="image__wrapper">
                    <img width="24" src="https://media.licdn.com/dms/image/D5603AQGtjglSKlXXxg/profile-displayphoto-shrink_100_100/0/1701386957796?e=1706745600&v=beta&t=RGjuAH1ZiNT-LE8XLUGScFNItCOsTv99J0Z0rMUOkJw" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                </div>
            </div>
            <span class="edit">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
            </span>
            <span class="edit__">
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
            </span>

            <div class="name__work__place">
                <h2>El Ouali Mohammed</h2>
                <div class="work__place">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="">
                    <h4>National School Of Applied Sciences Of Marrakesh</h4>
                </div>
            </div>
            <p class="bio">
                Seeking PFE Internship In Web Development(Spring With React/Angular/Vuejs) | Software Engineering Student | Systems Design Enthusiast
            </p>
            <p class="talk__about">
                Talks about #java, #react, #angular, #javascript, and #springboot
            </p>

            <span class="place">
                <span>Marrakesh-Safi, Morocco . </span> <a href="#">Contact info</a>
            </span>
            <div class="my__website">
                <span class="link">elouali.io</span>
                <span class="go__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                        <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>
                      </svg>
                </span>
            </div>

            <div class="followers__connections">
                <a href="#">423 followers</a> 
                <span>.</span>
                <a href="">409 connections</a>
            </div>

            <div class="banner__actions">
                <button class="open__to">Open to</button>
                <button class="add__profile__section">Add profile section</button>
                <button class="more">More</button>
            </div>
            <div class="container">
                @for (item of [1]; track $index) {
                    <div class="item">
                        <span class="open__to__work">Show recruiters you're open to work </span>
                        <span class="open__context">— you control who sees this.</span>
                        <h4>Get started</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                            <path d="M14 3.41L9.41 8 14 12.59 12.59 14 8 9.41 3.41 14 2 12.59 6.59 8 2 3.41 3.41 2 8 6.59 12.59 2z"></path>
                        </svg>
                    </div>
                }
            </div>
            <h1>Profile is not finished yet</h1>
        </div>
    </div>
    <div class="people__cards">
        <div class="language__url profile__card">
            <div class="language lang__line">
                <div class="head__language">
                    <h3>Profile language</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                </div>
                <p>Français</p>
            </div>
            <div class="language">
                <div class="head__language">
                    <h3>Public profile & URL</h3>
                    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg>
                </div>
                <p>www.linkedin.com/in/el-ouali-m-962170172</p>
            </div>
        </div>
        <div class="adds">
            <app-adds></app-adds>
        </div>
        <div class="people__cards">
            <h4>People also viewed</h4>
            @for (item of [1, 2, 2]; track $index) {
                <div class="person__card">
                    <div class="image__wrapper">
                        <img width="24" src="https://media.licdn.com/dms/image/C5603AQHQtjkaBFqbDA/profile-displayphoto-shrink_100_100/0/1576786481137?e=1705536000&v=beta&t=9NdxZ9SRtRHt4pb65CKHJYM66dfdXcF8taI3NJ8h2Z4" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                    </div>
                    <div class="person__data">
                        <div class="card__header">
                            <h3>Aymen SADAK</h3>
                            <span>· 2nd</span>
                        </div>
                        <p>Senior Software Engineer - JavaSenior Software Engineer - Java</p>
                        <button class="connect__send__message">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                                <path d="M9 4a3 3 0 11-3-3 3 3 0 013 3zM6.75 8h-1.5A2.25 2.25 0 003 10.25V15h6v-4.75A2.25 2.25 0 006.75 8zM13 8V6h-1v2h-2v1h2v2h1V9h2V8z"></path>
                            </svg>
                            <span>Connect</span>
                        </button>
                    </div>
                </div>
            }
            @for (item of [1, 2, 2]; track $index) {
                <div class="person__card">
                    <div class="image__wrapper">
                        <img width="24" src="https://media.licdn.com/dms/image/D4E03AQG0PmLglvpHjA/profile-displayphoto-shrink_100_100/0/1695858685476?e=1705536000&v=beta&t=LqcWrJi7F8E8oER1ZB725yCj8aO6NQVijsMJh-nMzx8" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                    </div>
                    <div class="person__data">
                        <div class="card__header">
                            <h3>ikram chkih</h3>
                            <span>· 1st</span>
                        </div>
                        <p>Software engineering student | Full Stack java developer | DevOps & Cloud enthousiast </p>
                        <button class="connect__send__message">
                            <svg style="transform: rotateZ(-45deg);" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                            <span>Message</span>
                        </button>
                    </div>
                </div>
            }
        </div>

        <div class="people__cards">
            <h4>People you may Know</h4>
            @for (item of [1, 2, 2]; track $index) {
                <div class="person__card">
                    <div class="image__wrapper">
                        <img width="24" src="https://media.licdn.com/dms/image/C5603AQGJr1WKxJsEpA/profile-displayphoto-shrink_100_100/0/1613599468370?e=1705536000&v=beta&t=m7mOiGC0kJeWSabnB8Tl9PUbMUDRjpuwWkNCzhkjGQE" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                    </div>
                    <div class="person__data">
                        <div class="card__header">
                            <h3>Moad Saddoune</h3>
                            <span>· 2nd</span>
                        </div>
                        <p>Lead Data Engineer Chez Leyton</p>
                        <button class="connect__send__message">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                                <path d="M9 4a3 3 0 11-3-3 3 3 0 013 3zM6.75 8h-1.5A2.25 2.25 0 003 10.25V15h6v-4.75A2.25 2.25 0 006.75 8zM13 8V6h-1v2h-2v1h2v2h1V9h2V8z"></path>
                            </svg>
                            <span>Connect</span>
                        </button>
                    </div>
                </div>
            }
            @for (item of [1, 2, 2]; track $index) {
                <div class="person__card">
                    <div class="image__wrapper">
                        <img width="24" src="https://media.licdn.com/dms/image/D4E03AQG0PmLglvpHjA/profile-displayphoto-shrink_100_100/0/1695858685476?e=1705536000&v=beta&t=LqcWrJi7F8E8oER1ZB725yCj8aO6NQVijsMJh-nMzx8" height="24" alt="El Ouali Mohammed" id="ember16" class="global-nav__me-photo evi-image ember-view">
                    </div>
                    <div class="person__data">
                        <div class="card__header">
                            <h3>ikram chkih</h3>
                            <span>· 1st</span>
                        </div>
                        <p>Software engineering student | Full Stack java developer | DevOps & Cloud enthousiast </p>
                        <button class="connect__send__message">
                            <svg style="transform: rotateZ(-45deg);" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg>
                            <span>Message</span>
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
