<section class="network">
    <div class="network__card manage__section">
        <p>Manage my network</p>
        <div class="action">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM360-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm400-160q0 66-47 113t-113 47q-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0 320Zm0-400Z"/></svg>
            <span class="action__title">Connections</span>
            <span class="action__number">200</span>
        </div>
        <div class="action">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
            <span class="action__title">Following & Followers</span>
            <span class="action__number"></span>
        </div>
        <div class="action">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M0-240v-63q0-43 44-70t116-27q13 0 25 .5t23 2.5q-14 21-21 44t-7 48v65H0Zm240 0v-65q0-32 17.5-58.5T307-410q32-20 76.5-30t96.5-10q53 0 97.5 10t76.5 30q32 20 49 46.5t17 58.5v65H240Zm540 0v-65q0-26-6.5-49T754-397q11-2 22.5-2.5t23.5-.5q72 0 116 26.5t44 70.5v63H780Zm-455-80h311q-10-20-55.5-35T480-370q-55 0-100.5 15T325-320ZM160-440q-33 0-56.5-23.5T80-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T160-440Zm640 0q-33 0-56.5-23.5T720-520q0-34 23.5-57t56.5-23q34 0 57 23t23 57q0 33-23 56.5T800-440Zm-320-40q-50 0-85-35t-35-85q0-51 35-85.5t85-34.5q51 0 85.5 34.5T600-600q0 50-34.5 85T480-480Zm0-80q17 0 28.5-11.5T520-600q0-17-11.5-28.5T480-640q-17 0-28.5 11.5T440-600q0 17 11.5 28.5T480-560Zm1 240Zm-1-280Z"/></svg>
            <span class="action__title">Groups</span>
            <span class="action__number">10</span>
        </div>
        <div class="action">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/></svg>
            <span class="action__title">Events</span>
            <span class="action__number">10</span>
        </div>
        <div class="action">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M320-240h320v-80H320v80Zm0-160h320v-80H320v80ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"/></svg>
            <span class="action__title">Pages</span>
            <span class="action__number">50</span>
        </div>
        <div class="action">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M160-120q-33 0-56.5-23.5T80-200v-640l67 67 66-67 67 67 67-67 66 67 67-67 67 67 66-67 67 67 67-67 66 67 67-67v640q0 33-23.5 56.5T800-120H160Zm0-80h280v-240H160v240Zm360 0h280v-80H520v80Zm0-160h280v-80H520v80ZM160-520h640v-120H160v120Z"/></svg>
            <span class="action__title">Newsletters</span>
            <span class="action__number">40</span>
        </div>
        <div class="action">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m240-160 40-160H120l20-80h160l40-160H180l20-80h160l40-160h80l-40 160h160l40-160h80l-40 160h160l-20 80H660l-40 160h160l-20 80H600l-40 160h-80l40-160H360l-40 160h-80Zm140-240h160l40-160H420l-40 160Z"/></svg>
            <span class="action__title">Hashtags</span>
            <span class="action__number">10</span>
        </div>
        <div class="adds"><app-adds></app-adds></div>
    </div>
    <div class="pending__invs network__card">
        <p>No pending invitations</p>
        <h3>Manage</h3>
    </div>
    @if (isPremiumFeatureOn()) {
        <div class="premium__section network__card">
            <h4>Achieve your goals faster with Premium</h4>
            <p class="big__para">See who's viewed your profile and directly message members outside of your network.</p>
            <div class="members">
                <div class="pics">
                    <div class="image__wrapper">
                        <img src="https://media.licdn.com/dms/image/D4D03AQFS72Qk1ZgbvA/profile-displayphoto-shrink_100_100/0/1676047810814?e=1705536000&v=beta&t=zly9PrMC9fYlVQubUCUZAMAkQ_KJI45Dqu_mwy6Fnvg" alt="">
                    </div>
                    <div style="transform: translateX(-0.5rem);" class="image__wrapper">
                        <img src="https://media.licdn.com/dms/image/C4E03AQG4LaeTe_yKQg/profile-displayphoto-shrink_100_100/0/1648719286487?e=1705536000&v=beta&t=HzFQq96VghT5H4B-64bsSdXmecRziDxkr9XDWHisR_8" alt="">
                    </div>
                    <div style="transform: translateX(-1rem);"  class="image__wrapper">
                        <img src="https://media.licdn.com/dms/image/D4D03AQG9OJy1TjKUug/profile-displayphoto-shrink_100_100/0/1678429794719?e=1705536000&v=beta&t=ZUWUEfs4pfS8BRC6M-ZkUNJM2j3pOnvKTDrv6zu7nrI" alt="">
                    </div>
                </div>
                <p>Ghita and millions of other members use Premium</p>
            </div>
            <button>Try Premium for free</button>
            <p class="small__para">1-month free trial. Cancel anytime.</p>
            <div class="close" (click)="togglePremiumFeature()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                    <path d="M14 3.41L9.41 8 14 12.59 12.59 14 8 9.41 3.41 14 2 12.59 6.59 8 2 3.41 3.41 2 8 6.59 12.59 2z"></path>
                </svg>
            </div>
        </div>
    }
    <div class="suggestions__cards network__card">
        <!-- Creators to follow -->
        <div class="suggestions__header">
            <p>Top emerging creators to follow</p>
            <h4>See all</h4>
        </div>
        <div class="cards">
            @for (item of [1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2]; track $index) {
                <div class="suggestion__card creator__card">
                    <div class="card__header">
                        <img class="background__image" src="https://media.licdn.com/dms/image/C4E16AQHIYqqkNds2mw/profile-displaybackgroundimage-shrink_200_800/0/1653148303673?e=1705536000&v=beta&t=lQlrFRHRBjho9gHtslTMVjMlEQWXiAdbLKXDxutclss" alt="">
                        <div class="image__wrapper main__image main__image__creator">
                            <img src="https://media.licdn.com/dms/image/D4E03AQEHk8SwJPUzbQ/profile-displayphoto-shrink_200_200/0/1689078720614?e=1705536000&v=beta&t=17OFBj1Bm8vYm4p38rrVRHKCwnAqg_wKKX3RgVuNNP0" alt="">
                        </div>
                        <div class="close__card">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                                <path d="M14 3.41L9.41 8 14 12.59 12.59 14 8 9.41 3.41 14 2 12.59 6.59 8 2 3.41 3.41 2 8 6.59 12.59 2z"></path>
                            </svg>
                        </div>
                    </div>
                    <h4 class="name">Mouad Benhomane ☁️</h4>
                    <p class="job">Salesforce Developer at SIWAY | 5x Salesforce Certified | Ranger ☁️</p>
                    <div class="members">
                        <div class="pics">
                            <div class="image__wrapper">
                                <img src="https://media.licdn.com/dms/image/D4D03AQFS72Qk1ZgbvA/profile-displayphoto-shrink_100_100/0/1676047810814?e=1705536000&v=beta&t=zly9PrMC9fYlVQubUCUZAMAkQ_KJI45Dqu_mwy6Fnvg" alt="">
                            </div>
                            <div style="transform: translateX(-0.5rem);" class="image__wrapper">
                                <img src="https://media.licdn.com/dms/image/C4E03AQG4LaeTe_yKQg/profile-displayphoto-shrink_100_100/0/1648719286487?e=1705536000&v=beta&t=HzFQq96VghT5H4B-64bsSdXmecRziDxkr9XDWHisR_8" alt="">
                            </div>
                            <div style="transform: translateX(-1rem);"  class="image__wrapper">
                                <img src="https://media.licdn.com/dms/image/D4D03AQG9OJy1TjKUug/profile-displayphoto-shrink_100_100/0/1678429794719?e=1705536000&v=beta&t=ZUWUEfs4pfS8BRC6M-ZkUNJM2j3pOnvKTDrv6zu7nrI" alt="">
                            </div>
                        </div>
                        <p>Followed by youssef, Meryem and 4 others you know</p>
                    </div>
                    <button class="connect__button">
                        <h4>Follow</h4>
                    </button>
                </div>
            }
        </div>
        <!-- The people to connect with  -->
        <div class="suggestions__header">
            <p>People you may know in El Jadida Metropolitan Area</p>
            <h4>See all</h4>
        </div>
        <div class="cards">
            @for (item of [1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2]; track $index) {
                <div class="suggestion__card">
                    <div class="card__header">
                        <img class="background__image" src="https://media.licdn.com/dms/image/D4E16AQHe4_nM8S2MAQ/profile-displaybackgroundimage-shrink_200_800/0/1696791201082?e=1705536000&v=beta&t=4ATWvWoNXvnDOKbRSrcUsjm-rKxVNOsrxNpywmgBxeo" alt="">
                        <div class="image__wrapper main__image">
                            <img src="https://media.licdn.com/dms/image/D4E03AQFbs8sXApAVYw/profile-displayphoto-shrink_200_200/0/1684147020039?e=1705536000&v=beta&t=RoZzvYXc2HW-rK-qgiFAIzh5jaShcGiXB_gcXdeJ-wg" alt="">
                        </div>
                        <div class="close__card">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                                <path d="M14 3.41L9.41 8 14 12.59 12.59 14 8 9.41 3.41 14 2 12.59 6.59 8 2 3.41 3.41 2 8 6.59 12.59 2z"></path>
                            </svg>
                        </div>
                    </div>
                    <h4 class="name">Elqortass Ikram</h4>
                    <p class="job">2x AWS Certified : SAA-C03 , DVA-CO2 | Cloud and Devops engineer...</p>
                    <div class="mutual__connections">
                        51 mutual connections
                    </div>
                    <button class="connect__button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                            <path d="M9 4a3 3 0 11-3-3 3 3 0 013 3zM6.75 8h-1.5A2.25 2.25 0 003 10.25V15h6v-4.75A2.25 2.25 0 006.75 8zM13 8V6h-1v2h-2v1h2v2h1V9h2V8z"></path>
                        </svg>
                        <h4>Connect</h4>
                    </button>
                </div>
            }
        </div>
       
    </div>
</section>
